<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.insa.mapper.EmpMapper">

<!-- 사원 등록 -->
<insert id="insert">
INSERT INTO (
       employee_id
      ,first_name
      ,last_name
      ,email
      ,phone_number
      ,hire_date
      ,job_id
      ,salary
      ,commission_pct
      ,manager_id
      ,department_id
)
VALUES (
      employees_seq
      ,#{firstName}
      ,#{lastName}
      ,#{email}
      ,#{phoneNumber}
      ,#{hireDate}
      ,#{jobId}
      ,#{salary}
      ,#{commissionPct}
      ,#{managerId}
      ,#{departmentId}
)

</insert>

<!-- 전체 조회 -->
<select id="getList" resultType="com.example.demo.insa.service.EmployeesDTO">
SELECT employee_id
      ,first_name
      ,last_name
      ,email
      ,phone_number
      ,hire_date
      ,job_id
      ,salary
      ,commission_pct
      ,manager_id
      ,department_id
FROM employees
</select>


</mapper>